# postgresql url for database
DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<database>" 
# redis/valkey url for caching
VALKEY_URL="valkey://<user>:<password>@<host>:<port>" 
# clichhouse url for analytics
CLICKHOUSE_URL="http://<user>:<password>@<host>:<port>/<database>" 

# secret for auth sessions
BETTER_AUTH_SECRET="<secret>" 
# base url of backend
BETTER_AUTH_URL="http://<host>:<port>" 

# google gen_ai key for assistant
GOOGLE_GEN_AI_API_KEY="<secret>" 